.results-list-item{
    margin-bottom: 20px;
    margin-left: 20px;
    color: white;
    background-color: purple;
}

.results-title{
    margin-top: 20px;
}

.pet-img{
    height: 200px;
    width: 200px;
    object-fit: fill;
    /* object-position: left; */
}