:root {
    --blue: #9CCFE7;
    --purple: #977FD7;
    --pink: #F5A9CB;
    --yellow: #FFFFC2;
    --shadow: rgb(220, 213, 213);
}

html {
    scroll-behavior:smooth;

}


body {
    background-color: var(--yellow);
}

.menu-item {
    transition-duration: 0.5s;
    transition-property: font-size, color;
}

.menu-item:hover {
    color: var(--purple);
    font-size: 1.1em;
}

.menu-item:active {
    color: var(--shadow);
    transition: none;
    transform: translateY(3px);
}


h1 {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 50%, var(--pink) 100%);
    backgroud-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.btn {
    width: fit-content;
    background-color: var(--blue);
    transition-duration: 0.5s;
    transition-property: background-color,color,box-shadow, transform;
}

.btn:hover {
    background-color: var(--pink);
    transform: translateY(-3px);
    box-shadow: 2px 2px 5px grey;
}

.btn:active {
    background-color: var(--shadow);
    transform: translateY(3px);
    box-shadow: none;
    transition: none;
}

.form {
    background: linear-gradient(90deg, var(--blue) 0%, var(--pink) 100%);
    border-radius: 10px;
}

.form-odd {
    background-color: var(--blue);
}
.form-even {
    background-color: var(--purple);
}

#map {
    max-width: 80vw;
}

#back-to-top {
    left: 5px;
    bottom: 5px;
}

